<!DOCTYPE html>
<html>
    <style>
        body {background-color: black;text-align: center;}
        h1   {color: white;text-align: center;font-size: 50px;}
        h2   {color: white;text-align: center;}
        button {color: white; background-color: blue; text-align:center;font-size: 100px;}
        label {color: white;display: inline-block;text-align: left;}
        text {color: white;text-align: center;} 
        .error {color: red;text-align: center;}
    </style>
    <body>
        <h1>Contact Tracing Application</h1>
        <br>
        <h2>Menu</h2>
        <form action="" method="post">
            <input type="submit" name="submit" value="Modify RSSI Threshold">
            <br>
            <br>
            <input type="submit" name="submit" value="View Fixed Station Data">
            <br>
            <br>
            <input type="submit" name="submit" value="Decision Table: Final">
            <br>
            <br>
            <input type="submit" name="submit" value="Proximity Network Graph">
            <br>
            <br>
            <input type="submit" name="submit" value="Trace Beacon"> 
            <br> 
            <br>    
        </form>
    </body>
</html>
